@model IEnumerable<Inventario>
@{
    ViewData["Title"] = "Home Page";
}

@* *@
<h1>Inventarios</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo</a>
    <a asp-controller="Pdf" asp-action="Inventarios" class="btn btn-success">Generar PDF</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>Categoría</th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>Acciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>
                <td>@item.Producto.Categoria?.Nombre</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>